@model HospitalManagement.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadNurse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadNurse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NursesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NursesCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
