@model IEnumerable<HospitalManagement.Models.Department>

@{
    ViewData["Title"] = "Index";
    var id = Context.Request.Cookies["id"];
    var adm = Context.Request.Cookies["adm"];
}

@{
    bool isAdmin = adm != null || !String.IsNullOrEmpty(adm);
    if (isAdmin)
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}
@using (Html.BeginForm())
{
    if (id != null || !String.IsNullOrEmpty(id))
    {
        <p>
            Search here: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    bool isValidToken = id != null || !String.IsNullOrEmpty(id);
                    if (isValidToken)
                    {
                        @Html.ActionLink(@Html.DisplayNameFor(model => model.DepartmentName), "Index", new { sortOrder = ViewBag.DepartmentNameSortParm })
                    }
                    else
                    {
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    }
                }
            </th>
            <th>
                @{
                    if (isValidToken)
                    {
                        @Html.ActionLink(@Html.DisplayNameFor(model => model.Capacity), "Index", new { sortOrder = ViewBag.CapacitySortParm })
                    }
                    else
                    {
                        @Html.DisplayNameFor(model => model.Capacity)
                    }
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadNurse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NursesCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeadNurse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NursesCount)
                </td>
                @{
                    if (isAdmin)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
